<div class="mt-14">
    <div class="">
        <div class="">
            <div class="">
                <h1>Lista de favoritos</h1>

                <%= turbo_frame_tag :products, src: products_path(favorites: true) %>
            </div>
        </div>
    </div>
</div>